h1{
	text-align:center;
	font-size:175%;
}
p.chick{
	float:right;
	font-style:bold;
	font-size:25px;
	width:30%;
	background-color:brown;
	border: black solid 2px;
	font-size:125%;
	position:realtive;
	margin:5px;
	text-align:center;
	clear:right;
}

p.beef{
	float:right;
	font-style:bold;
	width:30%;
	font-size:25px;
	background-color:red;
	border: black solid 2px;
	position:realtive;
	margin:5px;
	font-size:125%;
	text-align:center;
	clear:right;
}

p.sushi{
	float:right;
	font-style:bold;
	width:30%;
	font-size:25px;
	background-color:yellow;
	border: black solid 2px;
	position:realtive;
	font-size:125%;
	margin:5px;
	text-align:center;
	clear:right;
}
p.normal{
	backgroundcolor:grey;
	float:left;
}


@media(min-width:992px){
	div{
	float:left;
	height:200px;
	width:32%;
	margin:2px;
	background-color:gray;
	border: black solid 2px;
	box-sizing:border-box;}
}

@media(min-width:768px) and (max-width:991px){
	div{
	float:left;
	height:200px;
	width:48%;
	margin:5px;
	background-color:gray;
	border: black solid 2px;
	box-sizing:border-box;
}

div.third{
	float:left;
	height:200px;
	width:96%;
	margin:5px;
	background-color:gray;
	border: black solid 2px;
	box-sizing:border-box;
}


}

@media(max-width:767px){
	div{
	float:left;
	height:200px;
	width:100%;
	margin:5px;
	background-color:gray;
	border: black solid 2px;
	box-sizing:border-box;
}

}
